<% @page_title = "changePass | Change_Password" %>
<div class="Password_Change_Form">
  <div class="container">
    <!-- Display FLash Errors in Form if Any-->
    <div class="col-sm-push-4 col-sm-4">
      <% if flash[:color]== "valid" %>
          <div class="valid_notice">
            <p><%= flash[:notice]%></p>
          </div>
      <% elsif flash[:color]== "invalid"%>
          <div class="invalid_notice">
            <p><%=flash[:notice]%></p>
          </div>
      <%else%>
          <div class="notice">
            <p><%=flash[:notice]%></p>
          </div>
      <%end%>

      <!-- Display Change Password Form-->
      <h3 class="text-center">Change Password</h3>
      <%= form_for :user, class:"form form-horizontal",  url:profile_update_password_path(current_user), method: :patch  do |f| %>
          <div class="form-group">
            <%= f.label :Current_Password, class: 'control-label' %>
            <%= f.password_field :current_password,id:"current_password", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :Password, class: 'control-label' %>
            <%= f.password_field :password,id:"password", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :Password_Confirmation, class: 'control-label' %>
            <%= f.password_field :password_confirmation,id:"password_confirmation", class: 'form-control' %>
          </div>
          <div>
            <%= f.submit :Change_Password, class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>

    <!-- Display Errors in Form Validation if Any-->
    <div class="col-sm-push-4 col-sm-4">
      <% if @user != nil && @user.errors.any? %>
          <ul class="Signup_Errors">
            <% for message_error in @user.errors.full_messages %>
                <li>* <%= message_error %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</div>